<h1><%= @monster.name%></h1>
<div class="row">
    <div class="col">
        <p><%= @monster.description%></p>
        <button class="btn btn-danger"> Eliminar </button>
    </div>
    <div class="col">
    <% @monster.tweet.each do |t| %>
        <p class="Tweets"> <%=t.content%> </p>
        <% end %>
    </div>
</div>
